.about-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: #363535;
}

.about-left {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efeee6;
  padding: 20px;
}

.about-left img {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
}

.about-right {
  width: 66.66%;
  padding: 20px;
  background-color: #303030;
  overflow-y: auto;
  color: #e6e6e6;
  max-height: 100vh;
  box-sizing: border-box;
}

.about-content {
  max-width: 800px;
  padding-bottom: 20px;
}
.about-content h1 {
  font-size: 3em;
}

.about-content h3 {
  font-size: 1.8em;
  margin-bottom: 15px;
}

.about-content ul {
  list-style-type: none;
  padding-left: 0;
}

.about-content li {
  margin-bottom: 10px;
  font-size: 1.2em;
  line-height: 1.6em;
}

.email {
  text-decoration: underline;
  color: white;
}

.my-photo {
  max-height: 14em;
  max-width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.intro-photo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  .about-container {
    flex-direction: column;
    overflow: hidden;
    align-items: center;
  }

  .about-left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
  }

  .about-right {
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    max-height: 80vh;
    color: #fff;
    display: flex;
    flex-direction: column;
  }

  .about-content {
    padding: 20px;
    padding-bottom: 40px;
    flex-grow: 1;
  }

  .about-left img {
    height: 90%;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  }
}
